
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Student Feedback Management System</h1>
        <a href="~/Tables/Create"><input type="button" value="Fill Feedback" /></a>
    </center>
    
</div>

<div class="row">
   
    <br />
    <br />
    
    <h2>Workshop Topic - asp.net</h2>
    <ol>
        <li>Visual Studio</li>
        <li>Basic of .net</li>
        <li>Skill Development</li>
        <li>Logic Building</li>
        <li>Demo App</li>
    </ol>
</div>