@using WebApplication1.Models;

@{
    ViewBag.Title = "Home Page";
}

<div>
    <a href="~/home/students">Students</a> |   <a href="~/Admin/Insert">Submit The Feedback</a>
    <h2>Workshop Topics</h2>
    <ol>
        <li>Problem Solving</li>
        <li>Presentation</li>
        <li>Skills Developement</li>
        <li>Personality Developement</li>
        <li>Communication Skills</li>
        <li>Aptitude Skills</li>

</div>

